In [3]:
import numpy as np
import pandas as pd

In [7]:
students = ['John','Peter','James','Abraham']
courses = ['Numpy','Pandas','Seaborn','Python']
student_course = {
    'John':'Numpy',
    'Peter':'Pandas',
    'James':'Seaborn',
    'Abraham':'Python'
}

In [ ]:
pd.Series()

In [9]:
pd.Series(data=students)

0       John
1      Peter
2      James
3    Abraham
dtype: object

In [10]:
pd.Series(data=courses, index=students)

John         Numpy
Peter       Pandas
James      Seaborn
Abraham     Python
dtype: object

In [11]:
pd.Series(courses, students)

John         Numpy
Peter       Pandas
James      Seaborn
Abraham     Python
dtype: object

In [20]:
arr = np.arange(20,50,3)

In [21]:
pd.Series(arr)

0    20
1    23
2    26
3    29
4    32
5    35
6    38
7    41
8    44
9    47
dtype: int32

In [25]:
pd.Series(students,np.arange(4))

0       John
1      Peter
2      James
3    Abraham
dtype: object

In [26]:
pd.Series(student_course)

John         Numpy
Peter       Pandas
James      Seaborn
Abraham     Python
dtype: object

In [27]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [28]:
ser1 = pd.Series([1,2,3,4],['MALI','NIGER','NIGERIA','SENEGAL'])

In [33]:
ser1

MALI       1
NIGER      2
NIGERIA    3
SENEGAL    4
dtype: int64

In [31]:
ser2 = pd.Series([1,2,5,4],['MALI','LIBERIA','NIGERIA','SENEGAL'])

In [34]:
ser2

MALI       1
LIBERIA    2
NIGERIA    5
SENEGAL    4
dtype: int64

In [29]:
ser1['MALI']

1

In [32]:
ser1+ser2

LIBERIA    NaN
MALI       2.0
NIGER      NaN
NIGERIA    8.0
SENEGAL    8.0
dtype: float64

In [4]:
# creating series 1  
series1 = pd.Series(['Aaa', 10, 'cat', 43, 9, 'Dog', np.nan, 'x', np.nan])  
    
# creating series 2  
series2 = pd.Series(['vaa', np.nan, 'Cat', 23, 5, 'Dog', 54, 'x', np.nan])  
  
# NaN replacement 
replace_nan = 10
  
# calling and returning to result variable 
result = series1.eq(series2, fill_value = replace_nan) 
  
# display  
result

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7     True
8    False
dtype: bool