In [1]:
import pandas as pd

In [9]:
data = pd.read_excel('groupby.xlsx')

C:\ProgramData\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [7]:
data.head()

  Unnamed: 0 Unnamed: 1
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN